[Unit]
Description=Gateway for KS X 3288 Simulator

[Service]
WorkingDirectory=/home/debian/SimX3288/svr
ExecStart=python3 ksmaster.py run

[Install]
WantedBy=multi-user.target

